<!DOCTYPE html>
<html>
  <head>
    <title>Classificados</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      
      <% if flash.notice != nil %>
        <div class="alert alert-warning" role="alert">
          <%= flash.notice %>        
        </div>              
      <% end %>
      <% if flash.alert != nil %>
        <div class="alert alert-danger" role="alert">
          <%= flash.alert %>        
        </div>              
      <% end %>      
      <nav class="navbar navbar-expand-sm navbar-light bg-light">        
        <%= link_to 'DIO Classificados', root_path, class: 'navbar-brand' %>  
        <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
          <ul class="navbar-nav">
          <% if user_signed_in? %>            
            <li class="nav-item">
              <%= link_to t("menu.new_ad"), new_ad_path, class: 'nav-link btn btn-link' %>  
            </li>
         <% else %>
            <li class="nav-item">
              <%= link_to t("menu.signup"), new_user_path, class: 'nav-link btn btn-link' %>
            </li>
            <li class="nav-item">
              <%= link_to t("menu.signin"), new_session_path, class: 'nav-link btn btn-link' %>
            </li>
          <% end %> 
          </ul>
          <ul class="navbar-nav">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= button_to t("menu.logout"), sign_out_sessions_path, method: :delete, class: 'btn btn-danger' %>
            </li>               
          <% end %> 
          </ul>            
        </div>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
